@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

html {
    /*Background Gradient*/
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

body {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.25rem;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    pointer-events: none;
    color: white;
    font-size: large;
}

.info-panel {
    opacity: 1;
    position: absolute;
    right: -45%;
    top: 0;
    width: 45%;
    max-width: 700px;
    height: 100vh;
    background-color: #fff;
    color: #041676;
    z-index: 100;
    transition: all .3s;
    border-radius: 10px 0 0 10px;
    overflow: auto;
}

.info-panel-content {
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.info-panel-title {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 968px) {
    .info-panel {
        right: -100%;
        width: 100%;
        max-width: 100%;
    }
}

@supports (-webkit-touch-callout: none) {

    /* CSS specific to iOS devices */
    .info-panel {
        height: -webkit-fill-available;
    }
}

/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

/* Style the buttons inside the tab */
.tab button {
    float: left;
    cursor: pointer;
    border: 1px solid #041676;
    padding: 1rem 2rem;
    width: 100%;
    margin: 0rem 1rem;
    text-decoration: none;
    background-color: #fff;
    color: #041676;
    font-size: 1.125rem;
    transition: all 0.3s;
    border-radius: 10px;
}

.tab button:hover {
    background-color: #e9ebf7;
    color: #041676;
}

.tab button.active {
    background-color: #041676;
    color: #fff;
}

/* Style the tab content */
.tabContent {
    display: none;
    border: none;
    border-top: none;
    margin: 1rem 1rem;
}